In [1]:
import os
from tqdm import tqdm
import pandas as pd
import numpy as np

# Train Data

In [2]:
path = "./data/train/"
file_list = os.listdir(path)

In [3]:
file_list

['9', '6', '2', '4', '0', '3', '7', '1', '5', '8']

In [4]:
img_list = []
label_list = []

In [5]:
for i in tqdm(file_list):
    label = i
    img_name = os.listdir(path+i+'/')
    for name in img_name:
        img_path = 'train/'+i+'/'+name
        img_list.append(img_path)
        label_list.append(label)

100%|██████████| 10/10 [00:00<00:00, 159.03it/s]

In [6]:
len(img_list)

60000

In [7]:
len(label_list)

60000

In [8]:
df1 = pd.DataFrame([ x for x in zip(img_list, label_list)])
df1.rename(columns = {0:'img_path',1:'label'},inplace=True)
df1.to_csv('mnist_train.csv', index=False)
df1

                img_path label
0      train/9/17983.png     9
1      train/9/35715.png     9
2      train/9/33300.png     9
3       train/9/7245.png     9
4      train/9/45944.png     9
...                  ...   ...
59995  train/8/31673.png     8
59996  train/8/16036.png     8
59997  train/8/59729.png     8
59998  train/8/17194.png     8
59999  train/8/15817.png     8

[60000 rows x 2 columns]

# Validation Data

In [9]:
path = "./data/valid/"
file_list = os.listdir(path)

In [10]:
file_list

['9', '6', '2', '4', '0', '3', '7', '1', '5', '8']

In [11]:
valid_img_list = []
vlaid_label_list = []

In [12]:
for i in tqdm(file_list):
    label = i
    img_name = os.listdir(path+i+'/')
    for name in img_name:
        img_path = 'valid/'+i+'/'+name
        valid_img_list.append(img_path)
        vlaid_label_list.append(label)

100%|██████████| 10/10 [00:00<00:00, 549.79it/s]

In [13]:
len(valid_img_list)

10000

In [14]:
len(vlaid_label_list)

10000

In [15]:
df2 = pd.DataFrame([ x for x in zip(valid_img_list, vlaid_label_list)])
df2.rename(columns = {0:'img_path',1:'label'},inplace=True)
df2.to_csv('mnist_valid.csv', index=False)
df2

              img_path label
0     valid/9/6988.png     9
1     valid/9/7336.png     9
2     valid/9/1640.png     9
3     valid/9/6166.png     9
4     valid/9/2161.png     9
...                ...   ...
9995   valid/8/134.png     8
9996  valid/8/4075.png     8
9997  valid/8/8408.png     8
9998  valid/8/2758.png     8
9999  valid/8/4849.png     8

[10000 rows x 2 columns]

In [16]:
len(label_list)

60000

In [17]:
len(label_list)

60000

In [18]:
df = pd.read_csv('./mnist_train.csv')
df

                img_path  label
0      train/9/17983.png      9
1      train/9/35715.png      9
2      train/9/33300.png      9
3       train/9/7245.png      9
4      train/9/45944.png      9
...                  ...    ...
59995  train/8/31673.png      8
59996  train/8/16036.png      8
59997  train/8/59729.png      8
59998  train/8/17194.png      8
59999  train/8/15817.png      8

[60000 rows x 2 columns]